
.customNavDesign {

    color: white;
    font-weight: bolder;

    margin-right: 2em;

    cursor: pointer;
    transition: 0.3s;
}

.customNavDesign:hover {

    transition: 0.3s;
    color: grey;
}

.inputSearchDesign {

    height: 2.5em;
    width: 18em;

    border-radius: 1em;

    border: solid black 0.2em;
    
    margin-right: 34em;
    margin-bottom: 0.7em;

}